@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("ttf");
}

@font-face {
  font-family: "Bebas-Neue";
  src: url("../fonts/Bebas-Neue.ttf") format("ttf");
}



